boto3==1.28.3
streamlit==1.24.1
openai==0.27.8
urllib3==1.26.6 
pytz
langchain
requests
requests_aws4auth
pandas
aws-xray-sdk
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability